<div class='row'>
  <div class='center-align col l12'>
    <h3>Admin Console</h3>
  </div>
</div>
<div class="row">
  <div class='center-align col l4'>
    <h5>Our Work Page</h5>
  </div>
  <div class='center-align col l4'>
    <h5>About Page</h5>
  </div>
  <div class='center-align col l4'>
    <h5>Service Page</h5>
  </div>
</div>

<div class='row'>
  <div class='images-grid col l4'>
    <div class='col l6'>
      <div>Uploaded Images: {{vm.images.length}}</div>
    </div>
    <div class='col l6'>
      <button class="waves-effect waves-light btn modal-trigger" data-target="modal-uploadImage">New Image</button>
    </div>
    <div ng-show='vm.loading' class='center-align'>
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class='images'>
      <div ng-show='vm.gallery' ng-repeat='image in vm.images' class="col l12">
        <div class='card small'>
          <div class='card-image'>
            <img src='{{image.link}}' class='adminImages'>
            <spam class='card-title'>{{image.title}}</spam>
          </div>
          <div class='card-content'>
            <p>{{image.description}}</p>
          </div>
          <div class="card-action">
            <i class="material-icons pointer" ng-click='vm.deleteImage(image)'>delete</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='about-page-options col l4'>
    <form name='changeAboutTitle' ng-submit='vm.changeContent()'>
      <div class='about-page-options-title input-field col l9'>
        <input type='text' ng-model='vm.changeContentInput.aboutTitle'>
        <label>title</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='changeAboutSubtitle' ng-submit='vm.changeContent()'>
      <div class='about-page-options-title input-field col l9'>
        <input type='text' ng-model='vm.changeContentInput.aboutSubtitle'>
        <label>subtitle</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='changeAboutParagraph1' ng-submit='vm.changeContent()'>
      <div class='about-page-options-title input-field col l9'>
        <textarea type='text' ng-model='vm.changeContentInput.aboutParagraph1'></textarea>
        <label>paragraph 1</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='changeAboutParagraph2' ng-submit='vm.changeContent()'>
      <div class='about-page-options-title input-field col l9'>
        <textarea type='text' ng-model='vm.changeContentInput.aboutParagraph2'></textarea>
        <label>paragraph 2</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
  </div>
  <div class='service-page-options col l4'>
    <form name='serviceServiceTitle' ng-submit='vm.changeContent()'>
      <div class='service-page-options-title input-field col l9'>
        <input type='text' ng-model='vm.changeContentInput.serviceTitle'>
        <label>title</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='changeServiceSubtitle' ng-submit='vm.changeContent()'>
      <div class='service-page-options-title input-field col l9'>
        <input type='text' ng-model='vm.changeContentInput.serviceSubtitle'>
        <label>subtitle</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='changeServiceParagraph1' ng-submit='vm.changeContent()'>
      <div class='service-page-options-title input-field col l9'>
        <textarea type='text' ng-model='vm.changeContentInput.serviceParagraph1'></textarea>
        <label>paragraph1</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='serviceServiceTitle2' ng-submit='vm.changeContent()'>
      <div class='service-page-options-title input-field col l9'>
        <input type='text' ng-model='vm.changeContentInput.serviceSubtitle2'>
        <label>subtitle 2</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
    <form name='cserviceServiceParagraph2' ng-submit='vm.changeContent()'>
      <div class='about-page-options-title input-field col l9'>
        <textarea type='text' ng-model='vm.changeContentInput.serviceParagraph2'></textarea>
        <label>paragraph 2</label>
      </div>
      <div class='col l3'>
        <button class='btn' type='submit'>Change</button>
      </div>
    </form>
  </div>
</div>
<!--     <div class='about-page-options-subtitle input-field'>
    </div>
    <div class='about-page-options-paragraph1 input-field'>
    </div>
    <div class='about-page-options-paragraph2 input-field'>
    </div>
  </div>
</div> -->

<div id='modal-uploadImage' class='modal'>
  <div class='modal-content'>
    <h3>Upload New Image</h3>
    <form name="uploadImage" ng-submit='vm.sendToImgur()'>
      <div class='input-field'>
        <input ng-model='vm.uploadImageForm.title' type='text'>
        <label>Title (optional)</label>
      </div>
      <div class='input-field'>
        <textarea ng-model='vm.uploadImageForm.description'>Description (optional)</textarea>
        <label>Description (optional)</label>
      </div>
      <button class="btn" ngf-select ng-model="vm.imageForm.image" name="uploadImage" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100">Select Image</button>
        {{vm.imageForm.image.name}}<br>
      <button class="btn modal-close" type="submit">Submit</button>
      <button class='btn modal-close'>Cancel</button>
    </form>
  </div>
</div>

<!-- ngf-resize="{width: 100, height: 100}" -->
