.about-content-container {
  height: 400px;
}
.about-content {
  height: 300px;
}
#logo {
  font-size: 20px;
}
.adminImages {
  max-width: 100%;
  min-height: 100px;
}
.pointer {
  cursor: pointer;
}
.images {
  margin-top: 10px;
}
.service-content-container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}
.service-content {
  position: abosulte;
}
.contact-btn {
  margin-top: 25px;
}
.contact-textarea {
  height: 150px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: grey;
  outline: none;
  }
