.about-content-container {
  height: 400px;
}
.about-content {
  height: 300px;
}
#logo {
  font-size: 20px;
}
.adminImages {
  max-width: 100%;
  min-height: 100px;
}
.pointer {
  cursor: pointer;
}
.images {
  margin-top: 10px;
}
.service-content-container {
  height: 500px;
}
.service-content {
  height: 400px;
}


