<div class='center-align'>
  <h3>Contact</h3>
</div>

<div class='row'>
  <form class='col l4 offset-l4' name='contactForm' ng-submit='vm.sendEmail()'>
    <div class="input-field">
      <input ng-model='vm.contactEmail.name' type="text" name="name" required id="name" class='validate'>
      <label for="name">Your Name (required)</label>
    </div>
    <div class="input-field">
      <input ng-model='vm.contactEmail.email' type="email" name="email" required id="email" class='validate'>
      <label for="email">Your email (required)</label>
    </div>
    <div class="input-field">
      <input ng-model='vm.contactEmail.subject' type="text" name="subject" required id="subject" class='validate'>
      <label for="email">Subject (required)</label>
    </div>
    <div class="input-field">
      <textarea ng-model='vm.contactEmail.message' type="text" name="message" required id="message" class='validate contact-textarea'></textarea>
      <label for="email">Your Message (required)</label>
    </div>
    <!--6LcbkSYTAAAAAHsZU-58tHa4O9a_troAyklKFNws  WORKING SITE KEY -->
    <div vc-recaptcha  ng-model='vm.contactEmail.myRecaptchaResponse' key="'6LdwUyYTAAAAANqfE4ul4vMG93_OGscUsUickQEF'" on-success='vm.captchaSuccess(response)'></div>
    <div class='center-align'>
      <p class='red-text' ng-show='vm.showDisplay'>{{vm.display}}</p>
      <button ng-show='vm.showbutton' class='btn contact-btn' type='submit'>Send</button>
    </div>
  </form>
</div>

